.authlite-button-as-link,
.authlite-button,
.authlite-primary-button {
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.authlite-button,
.authlite-primary-button {
    height: 40px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #e4e4e4;
    color: #000;
}

.authlite-button:hover,
.authlite-button:focus {
    background-color: #d7d7d7;
}

.authlite-primary-button {
    background-color: var(--theme-color-primary-alt);
    color: #fff;
}

.authlite-primary-button:hover,
.authlite-primary-button:focus {
    background-color: var(--theme-color-primary);
    color: #fff;
}

.authlite-button-as-link {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    color: var(--theme-color-grey);
    border-bottom: 1px dotted transparent;
    border-bottom: 1px dotted var(--theme-color-grey);
}

.authlite-button-as-link:hover,
.authlite-button-as-link:focus {
    color: var(--theme-color-primary);
    border-color: var(--theme-color-primary);
}
