.authlite-form-element-error,
.authlite-form-element-warning,
.authlite-form-element-success,
.authlite-form-element-info {
    margin-top: 4px;
    font-size: 10px;
    color: #CC2936;
}

.authlite-form-element-warning {
    color: #FFD25A;
}

.authlite-form-element-success {
    color: #86CD82;
}

.authlite-form-element-info {
    color: #666B6A;
}

.authlite-dark .authlite-form-element-info {
    color: #666B6A;
}

.authlite-form-element-label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    text-transform: capitalize;
    word-break: keep-all;
    color: #666B6A;
}