a {
    transition: 250ms color ease-in-out, 250ms border-color ease-in-out;
    cursor: pointer;
}


a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a {
    color: var(--theme-color-primary);
    border-bottom: 1px dotted transparent;
}

a:hover,
a:focus {
    color: var(--theme-color-primary-alt);
    border-color: var(--theme-color-primary-alt);
}