<form class="authlite-d1-signup-form">
    <div class="authlite-margin-top">
      <app-tagline></app-tagline>
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="">Given Name</div>
        <input type="text" class="authlite-input" autocomplete="off" value="">
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="">Family Name</div>
        <input type="text" class="authlite-input" autocomplete="off" value="">
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="">Username Or Email Address</div>
        <input type="email" id="userid" formControlName="userName" class="authlite-input" name="email" autocomplete="off" value="">
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="">Password</div>
        <input type="password" id="passwordId" formControlName="password" class="authlite-input" name="password" value="">
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="">Retype Password</div>
        <input type="password" id="passwordId" formControlName="password" class="authlite-input" name="password" value="">
    </div>
    <div class="authlite-action-bar authlite-margin-top">
        <button class="authlite-primary-button" type="submit">Create account</button>
    </div>
    <div class="authlite-margin-top authlite-action-bar-center" style="font-size: 14px;">
        Already have an account??
        <button class="authlite-button-as-link" type="submit">Sign in</button>
    </div>
  </form>
  