@import '../styles/index.css';

.authlite-resendverifylink-form {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
}
.authlite-action-bar,
.authlite-action-bar-center {
    font-size: 12px;
}