<form [formGroup]="resendVerifyLinkForm" (ngSubmit)="onSubmit($event)" class="authlite-resendverifylink-form">
  <div class="authlite-margin-top">
    <app-tagline 
        [title]="getTranslation('RESEND_VERIFY_LINK_FORM__GREETING_TITLE')"
        [subtitle]="getTranslation('RESEND_VERIFY_LINK_FORM__GREETING_SUBTITLE')">
    </app-tagline>
  </div>
  <div class="authlite-margin-top">
    <app-form-element-message [text]="getTranslation('RESEND_VERIFY_LINK_FORM__LABEL_EMAIL')" type='label'></app-form-element-message>
      <input class="authlite-input" formControlName="email" [(ngModel)]="state.email" autocomplete='off' autofocus (input)="onInput($event)"/>
      <app-form-element-message 
            *ngIf="formControls['email'].touched && formControls['email'].hasError('required')"
            [text]="getTranslation(resendVerifyLinkFormErrorMessages['email'] || 'RESEND_VERIFY_LINK_ERROR__BLANK_USERNAME')" type='error'>
      </app-form-element-message>
      <app-form-element-message 
            *ngIf="formControls['email'].hasError('email')"
            [text]="getTranslation(resendVerifyLinkFormErrorMessages['email'] || 'RESEND_VERIFY_LINK_ERROR__INVALID_USERNAME')" type='error'>
      </app-form-element-message>
      <app-form-element-message 
        *ngIf="formControls['email'].hasError('userNotFound')" 
        [text]="getTranslation(resendVerifyLinkFormErrorMessages['email'] || 'RESEND_VERIFY_LINK_ERROR__USER_NOT_FOUND')" type='error'>
    </app-form-element-message>
  </div>
  <div class="authlite-action-bar authlite-margin-top">
    <button class="authlite-primary-button" type="submit">
      {{ getTranslation('RESEND_VERIFY_LINK_FORM__ACTION_SEND')}}
    </button>
  </div>
  <div class="authlite-action-bar-center authlite-margin-top">
    {{getTranslation('RESEND_VERIFY_LINK_FORM__MESSAGE_ALREADY_VERIFIED')}}
    <button class="authlite-button-as-link" type="button" (click)="navigateToSignin()">
      {{getTranslation('RESEND_VERIFY_LINK_FORM__ACTION_SIGNIN')}}
    </button>
  </div>
</form>