
<div class="authlite-mainform">
  
  <app-header [src]="src"></app-header>

  <app-signin-form *ngIf="view === PageView.signin" 
                    (onSignin)="handleSignin($event)" 
                    (onSignup)="handleSignup($event)"
                    (onForgotPassword)="handleForgotPassword($event)" 
                    [signinFormErrorMessages]="signinFormErrorMessages"
                    [dictionary]="translationDictionary"
                    [changeView]="changeView"
                    [successPage]="successPage">
  </app-signin-form>

  <app-signup-form *ngIf="view === PageView.signup"
                    (onSignup)="handleSignup($event)" 
                    (onSignin)="handleSignin($event)"
                    [signupFormErrorMessages]="signupFormErrorMessages" 
                    [dictionary]="translationDictionary"
                    [changeView]="changeView"
                    [successPage]="successPage">
  </app-signup-form>

  <app-forgot-password-form *ngIf="view === PageView.forgotpassword" 
                    (onForgotPassword)="handleForgotPassword($event)"
                    (onSignin)="handleSignin($event)" 
                    [forgotPasswordFormErrorMessages]="forgotPasswordFormErrorMessages"
                    [dictionary]="translationDictionary"
                    [changeView]="changeView"
                    [successPage]="successPage">
  </app-forgot-password-form>

  <app-resend-verify-link-form *ngIf="view === PageView.resendverifyemail"
          (onResendVerifyLink)="handleResendVerifyEmail($event)"
          (onSignin)="handleSignin($event)"
          [resendVerifyLinkFormErrorMessages]="resendVerifyLinkFormErrorMessages" 
          [dictionary]="translationDictionary"
          [email]="signinFormErrorMessages?.unverifiedEmail || ''"
          [successPage]="successPage">
  </app-resend-verify-link-form>

  <app-placeholder *ngIf="view === PageView.placeholder"
          (onPlaceholder)="handlePlaceholder($event)"
          (onSignin)="handleSignin($event)"
          [dictionary]="translationDictionary"
          [changeView]="changeView"
          [successPage]="successPage"
          [signinheading]="signinheading"
          [signupheading]="signupheading"
          [forgotpasswordheading]="forgotpasswordheading"
          [resendverifyemailheading]="resendverifyemailheading"
          [signindescription]="signindescription"
          [signupdescription]="signupdescription"
          [forgotpassworddescription]="forgotpassworddescription"
          [resendverifyemaildescription]="resendverifyemaildescription"
          [signinfootnote]="signinfootnote"
          [signupfootnote]="signupfootnote"
          [forgotpasswordfootnote]="forgotpasswordfootnote"
          [resendverifyemailfootnote]="resendverifyemailfootnote">
  </app-placeholder>
</div>