
<div class="authlite-mainform">
  <app-header>
    <ng-container *ngIf="logo">{{ logo }}</ng-container>
  </app-header>

  <app-signin-form *ngIf="view === PageView.signin" 
                    (onSignin)="onSignin" (onSignup)="handleSignup($event)"
                    (onForgotPassword)="handleForgotPassword($event)" 
                    [signinFormErrorMessages]="signinFormErrorMessages"
                    [dictionary]="translationDictionary"
                    [changeView]="changeView">
  </app-signin-form>

  <app-signup-form *ngIf="view === PageView.signup" 
                    [onSignup]="handleSignup" [onSignin]="handleSignin"
                    [signupFormErrorMessages]="signupFormErrorMessages" 
                    [dictionary]="translationDictionary">
  </app-signup-form>

  <app-forgot-password-form *ngIf="view === PageView.forgotpassword" (onForgotPassword)="handleForgotPassword($event)"
    (onSignin)="handleSignin($event)" [forgotPasswordFormErrorMessages]="forgotPasswordFormErrorMessages"
    [dictionary]="translationDictionary">
  </app-forgot-password-form>

  <app-resend-verify-link-form *ngIf="view === PageView.resendverifyemail"
    [email]="signinFormErrorMessages?.unverifiedEmail || ''" [onSignin]="handleSignin"
    [onResendVerifyLink]="handleResendVerifyEmail"
    [resendVerifyLinkFormErrorMessages]="resendVerifyLinkFormErrorMessages" [dictionary]="translationDictionary">
  </app-resend-verify-link-form>

  <ng-container *ngIf="view === PageView.placeholder">
    {{ placeholder }}
  </ng-container>
</div>