<form class="authlite-d1-forgotpassword-form">
    <div class="authlite-margin-top">
      <app-tagline></app-tagline>
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="userid">Email Address</div>
        <input type="email" class="authlite-input" name="email" autocomplete="off" value="">
    </div>
    <div class="authlite-action-bar authlite-margin-top">
      <button class="authlite-primary-button" type="submit">Send password reset email</button>
    </div>
    <div class="authlite-action-bar-center authlite-margin-top">
      <button class="authlite-button-as-link">Sign in</button>
    </div>
  </form>
  