<form class="authlite-d1-forgotpassword-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="authlite-margin-top">
      <app-tagline
            [title]="forgotPasswordGreetingTitle"
            [subtitle]="forgotPasswordGreetingSubtitle">
      </app-tagline>
    </div>
    <div class="authlite-margin-top">
        <app-form-element-message 
            [email]="forgotPasswordFormLabelEmail">
        </app-form-element-message>
        <input type="email" class="authlite-input" name="email" autocomplete="off" value="" formControlName="email">
        <app-form-element-message
            *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.hasError('required')"
            [blankUsername]="forgotPasswordFormUsernameErrorMessage">
        </app-form-element-message>
        <app-form-element-message
            *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.hasError('email')"
            [invalidUsername]="forgotPasswordFormInvalidUsername">
        </app-form-element-message>
        <app-form-element-message
            *ngIf="forgotPasswordForm.errors?.userNotFound"
            [userNotFound]="forgotPasswordFormUserNotFound">
        </app-form-element-message>
    </div>
    <div class="authlite-action-bar authlite-margin-top">
      <button class="authlite-primary-button" type="submit">{{translationDictionary.FORGOT_PASSWORD_FORM__ACTION_SEND}}</button>
    </div>
    <div class="authlite-action-bar-center authlite-margin-top">
      {{translationDictionary.FORGOT_PASSWORD_FORM__MESSAGE_REMEMBER_PASSWORD}}
      <button class="authlite-button-as-link" routerLink="/SigninForm">{{translationDictionary.FORGOT_PASSWORD_FORM__ACTION_SIGNIN}}</button>
    </div>
  </form>