<div class="authlite-login">
    <div class="authlite-d1">
        <div class="authlite-d1__left"></div>
        <div class="authlite-d1__right">
            <div class="authlite-mainform">
                <div class="authlite-d1-header">
                    <div class="authlite-d1-logo">
                        <img src="https://authlite-widgets.ioak.io/static/media/authlite_black.449e265c.svg" alt="Authlite logo">
                    </div>
                    <form action="" class="authlite-signin-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="authlite-margin-top">
                            <div class="authlite-d1-tagline">
                                <div class="authlite-d1-tagline__title">
                                    Hello again!!
                                </div>
                                <div class="authlite-d1-tagline__subtitle">
                                    Metus dui sapien phasellus arcu posuere eu adipiscing proin adipiscing mi luctus dignissim sem. hendrerit dapibus ut scelerisque tellus malesuada scelerisque vel est fermentum nullam sociosqu.
                                </div>
                            </div>
                        </div>
                        <div class="authlite-margin-top">
                            <div class="authlite-form-element-label">Username Or Email Address</div>
                            <input type="email" class="authlite-input" name="email" autocomplete="off" value="">
                        </div>
                        <div class="authlite-margin-top">
                            <div class="authlite-form-element-label">Password</div>
                            <input type="password" class="authlite-input" name="password" value="">
                        </div>
                        <div class="authlite-signin-form__forgot authlite-margin-top-small">
                            <label for="" class="authlite-checkbox  authlite-checkbox--theme-default">
                                <input type="checkbox" name="" id="" class="authlite-checkbox__input">
                                <span class="authlite-checkbox__span">Remember me</span>
                            </label>
                            <button class="authlite-button-as-link" type="button">Forgot Password?</button>
                        </div>
                        <div class="authlite-action-bar authlite-margin-top">
                            <button class="authlite-primary-button" type="submit">Sign in</button>
                        </div>
                        <div class="authlite-margin-top authlite-action-bar-center">
                            Don't have an account?
                            <button class="authlite-button-as-link" type="button">Create account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>