<app-login 
    (onSignin)="handleSignin($event)" 
    (onSignup)="handleSignup($event)" 
    (onForgotPassword)="handleForgotPassword($event)"
    (onResendVerifyLink)="handleResendVerifyLink($event)" 
    [signinFormErrorMessages]="signinFormErrorMessages"
    [signupFormErrorMessages]="signupFormErrorMessages"
    [forgotPasswordFormErrorMessages]="forgotPasswordFormErrorMessages"
    [resendVerifyLinkFormErrorMessages]="resendVerifyLinkFormErrorMessages" 
    (clearErrorMessages)="clearErrorMessages()"
    [view]="view" 
    (changeView)="changeView"
    [src]="logo"
    [successPage]="successPage"
    [signinheading]="signinheading"
    [signupheading]="signupheading"
    [forgotpasswordheading]="forgotpasswordheading"
    [resendverifyemailheading]="resendverifyemailheading"
    [signindescription]="signindescription"
    [signupdescription]="signupdescription"
    [forgotpassworddescription]="forgotpassworddescription"
    [resendverifyemaildescription]="resendverifyemaildescription"
    [signinfootnote]="signinfootnote"
    [signupfootnote]="signupfootnote"
    [forgotpasswordfootnote]="forgotpasswordfootnote"
    [resendverifyemailfootnote]="resendverifyemailfootnote">
</app-login>