
<div class="authlite-login">
  <app-design-one
    (onSignin)="handleSignin($event)"
    (onSignup)="handleSignup($event)"
    [signinFormErrorMessages]="signinFormErrorMessages"
    [signupFormErrorMessages]="signupFormErrorMessages"
    [forgotPasswordFormErrorMessages]="forgotPasswordFormErrorMessages"
    [resendVerifyLinkFormErrorMessages]="resendVerifyLinkFormErrorMessages"
    [clearErrorMessages]="clearErrorMessages"
    [logo]="logo"
    (onPlaceholder)="handlePlaceholder($event)"
    [dictionary]="translationDictionary"
    [view]="view"
    (changeView)="changeView"
    (onForgotPassword)="handleForgotPassword($event)"
    (onResendVerifyLink)="handleResendVerifyLink($event)">
  </app-design-one>
</div>