
<div class="authlite-login">
  <app-design-one
    [onSignin]="onSignin"
    [onSignup]="onSignup"
    [signinFormErrorMessages]="signinFormErrorMessages"
    [signupFormErrorMessages]="signupFormErrorMessages"
    [forgotPasswordFormErrorMessages]="forgotPasswordFormErrorMessages"
    [resendVerifyLinkFormErrorMessages]="resendVerifyLinkFormErrorMessages"
    [clearErrorMessages]="clearErrorMessages"
    [logo]="logo"
    [placeholder]="placeholder"
    [dictionary]="translationDictionary"
    [view]="view"
    (changeView)="changeView($event)"
    (onForgotPassword)="navigateToForgotPassword()"
    (onResendVerifyLink)="navigateToResendVerifyLink()">
  </app-design-one>
</div>