.authlite-d1 {
    display: grid;
    grid-template-columns: 0 1fr;
    min-height: 100vh;
    height: 100%;
    background-color: #fcfcfc;
    color: #0c0c0c;
}

@media (min-width: 960px) {
    .authlite-d1 {
        grid-template-columns: auto 1fr;
    }

    .authlite-d1__left {
        width: 450px;
    }
}

.authlite-d1__left {
    background: url("https://images.unsplash.com/photo-1547357812-b5afb3656fc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") center center / cover no-repeat;
}

.authlite-d1__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 456px;
    padding: 20px;
    margin: auto;
    /* row-gap: 20px; */
}
