<div class='authlite-d1'>
  <div class="authlite-d1__left"></div>
  <div class="authlite-d1__right">
    <app-main-form
      (onSignin)="handleSignin($event)"
      (onSignup)="handleSignup($event)"
      (onForgotPassword)="handleForgotPassword($event)"
      (onResendVerifyLink)="handleResendVerifyLink($event)"
      (onPlaceholder)="handlePlaceholder($event)"
      [signinFormErrorMessages]="signinFormErrorMessages"
      [signupFormErrorMessages]="signupFormErrorMessages"
      [forgotPasswordFormErrorMessages]="forgotPasswordFormErrorMessages"
      [resendVerifyLinkFormErrorMessages]="resendVerifyLinkFormErrorMessages"
      [clearErrorMessages]="clearErrorMessages"
      [src]="src"
      [successPage]="successPage"
      [signinheading]="signinheading"
      [signupheading]="signupheading"
      [forgotpasswordheading]="forgotpasswordheading"
      [resendverifyemailheading]="resendverifyemailheading"
      [signindescription]="signindescription"
      [signupdescription]="signupdescription"
      [forgotpassworddescription]="forgotpassworddescription"
      [resendverifyemaildescription]="resendverifyemaildescription"
      [signinfootnote]="signinfootnote"
      [signupfootnote]="signupfootnote"
      [forgotpasswordfootnote]="forgotpasswordfootnote"
      [resendverifyemailfootnote]="resendverifyemailfootnote"
      [dictionary]="translationDictionary"
      [view]="view"
      (changeView)="changeView">
    </app-main-form>
  </div>
</div>