.authlite-d1-tagline {
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    row-gap: 6px;
}
.authlite-d1-tagline__title {
    font-size: 20px;
}
.authlite-d1-tagline__subtitle {
    font-size: 12px;
    opacity: 0.6;
}