<!--<div class="authlite-form-element-label" type="type">
    {{email}}
    {{password}}
    {{given_name}}
    {{family_name}}
    {{retype_password}}
</div>
<div class="authlite-form-element-error">
    {{blankUsername}}
    {{blankPassword}}
    {{invalidUsername}}
    {{userNotFound}}
    {{incorrectPassword}}
    {{blankGivenname}}
    {{blankFamilyname}}
    {{blankRetypePassword}}
    {{RetypePasswordDoesnotmatch}}
</div>-->
<div [ngClass]="'authlite-form-element-' + type">
    {{ text }}
  </div>