<form class="authlite-signin-form">
    <div class="authlite-margin-top">
        <app-tagline 
            [title]="signinGreetingTitle"
            [subtitle]="signinGreetingSubtitle">
        </app-tagline>
    </div>
    <div class="authlite-margin-top">
        <app-form-element-message 
            [username]="signinFormLabelUsername">
        </app-form-element-message>
        <input class="authlite-input" autoComplete="off" name="email"/>
    </div>
    <div class="authlite-margin-top">
        <app-form-element-message 
            [password]="signinFormLabelPassword">
        </app-form-element-message>
        <input type="password" id="passwordId" formControlName="password" class="authlite-input" name="password" value="">
    </div>
    <div class="authlite-signin-form__forgot authlite-margin-top-small">
        <app-checkbox></app-checkbox>
        <a [routerLink]="['/forgot-password-form']" class="authlite-button-as-link">{{translationDictionary.SIGNIN_FORM__ACTION_FORGOTPASSWORD}}</a>
    </div>
    <div class="authlite-action-bar authlite-margin-top">
        <button class="authlite-primary-button" type="submit">{{translationDictionary.SIGNIN_FORM__ACTION_SIGNIN}}</button>
    </div>
    <div class="authlite-margin-top authlite-action-bar-center">
        {{translationDictionary.SIGNIN_FORM__MESSAGE_NO_ACCOUNT}}
        <a [routerLink]="['/signup-form']" class="authlite-button-as-link">{{translationDictionary.SIGNIN_FORM__ACTION_CREATEACCOUNT}}</a>
    </div>
</form>