@import '../styles/index.css';

*{
    font-family: 'Roboto', sans-serif;
}
.authlite-signin-form {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
}
.authlite-signin-form__forgot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.authlite-d1-tagline {
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    row-gap: 6px;
}
.authlite-d1-tagline__title {
    font-size: 20px;
}
.authlite-d1-tagline__subtitle {
    font-size: 12px;
    opacity: 0.6;
}
.authlite-action-bar,
.authlite-action-bar-center {
    font-size: 12px;
}
.authlite-input {
	position: relative;
	font-size: 15px !important;
	display: inline-block;
	margin-bottom: 15px !important;
}
.authlite-input {
    padding: 10px 10px;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    width: 100%;
    line-height: 24px;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    outline: none;
    transition: background-color 250ms ease-in-out,border-color 250ms ease-in-out;
}
.authlite-password-show-icon{
	width: 2%;
	margin: 0 0 0 5%;
	display: inline-block;
	float: left;
    z-index: 9999;
	position: absolute;
	left: 885px;
    top: 425px;
	margin-top: -60px;
}
.authlite-password-hide-icon{
	width: 2%;
	margin: 0 0 0 5%;
	display: inline-block;
	float: left;
    z-index: 9999;
	position: absolute;
	left: 885px;
    top: 425px;
	margin-top: -60px;
}