<form class="authlite-signin-form">
    <div class="authlite-margin-top">
        <app-tagline></app-tagline>
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="userid">Username Or Email Address</div>
        <input type="email" id="userid" formControlName="userName" class="authlite-input" name="email" autocomplete="off" value="">
    </div>
    <div class="authlite-margin-top">
        <div class="authlite-form-element-label" for="passwordId">Password</div>
        <input type="password" id="passwordId" formControlName="password" class="authlite-input" name="password" value="">
    </div>
    <div class="authlite-signin-form__forgot authlite-margin-top-small">
        <app-checkbox></app-checkbox>
        <button class="authlite-button-as-link" type="submit">Forgot Password?</button>
    </div>
    <div class="authlite-action-bar authlite-margin-top">
        <button class="authlite-primary-button" type="submit">Sign in</button>
    </div>
    <div class="authlite-margin-top authlite-action-bar-center" style="font-size: 14px;">
        Don't have an account?
        <button class="authlite-button-as-link" type="submit">Create account</button>
    </div>
</form>