.authlite-infopage {
    display: grid;
    justify-items: center;
    /* row-gap: 20px; */
    /* width: 340px; */
    max-width: 90vw;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}


.authlite-infopage h1 {
    font-weight: 500;
    font-size: 24px;
}